/* main.css for project */



#content{
	position: absolute;
	font-family: arial;
	font-size: 16px;
	padding-bottom: 50px;
}

#header{
	font-size: 20px;
	padding-bottom: 0px;
}

#info{
	padding-bottom: 25px;
}

.red{
	color: red;
}

.blu{
	color: blue;
}

.grn{
	color: green;
}

.oj{
	color: orange;
}

#godiv{
	margin-left: 250px;
	margin-bottom: 40px;
}

#GObutton{
	color: white;
	background-color: green;
}